- Variables
- Data types
- Type Casting (Convert one data type to another data type)
- Doc String
- Print Statement (Today's Topic)

In [1]:
num1 = 20
num2 = 30
num1
num2

30

In [2]:
num1 = 20
num2 = 30    #1st Way to print
print(num1) #Print Vertically 
print(num2)

20
30

In [3]:
num1 = 20
num2 = 30   #2nd Way to print
print(num1),print(num2) #Print Horizontally

20
30

(None, None)

In [4]:
num1 = 20
num2 = 30  #3rd Way to print
print(num1,num2)

20 30

In [5]:
print(20,30,"python")

20 30 python

In [6]:
a = 200
b = 300
c = a+b
# the addition of 200 and 300 is 500
print("the addition of", a, "and", b, "is", c)

the addition of 200 and 300 is 500

In [7]:
name = "python"
age = 10
city = "Hyd"
# My name is Python I'm 10 years old and from Hyd
print("My name is", name, "I'm", age, "years old and from", city)

My name is python I'm 10 years old and from Hyd

**Format Method**

In [11]:
name = "python"
age = 10
city = "Hyd"
# My name is Python I'm 10 years old and from Hyd
print("My name is Python I'm 10 years old and from Hyd")
print("My name is {} I'm {} years old and from {}".format(name,age,city))

My name is Python I'm 10 years old and from Hyd
My name is python I'm 10 years old and from Hyd

In [12]:
a = 200
b = 300
c = a+b
# the addition of 200 and 300 is 500
print("the addition of 200 and 300 is 500")
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 200 and 300 is 500
the addition of 200 and 300 is 500

In [14]:
n1 = 100
n2 = 200
add = n1+n2

div = n1/n2
# the addition of 100 and 200 is 300
print("the addition of {} and {} is {}".format(n1,n2,add))

the addition of 100 and 200 is 300

In [15]:
n1 = 100
n2 = 200
sub = n1-n2
# the subtraction of 100 and 200 is -100
print("the subtraction of {} and {} is {}".format(n1,n2,sub))

the subtraction of 100 and 200 is -100

In [16]:
n1 = 100
n2 = 200
mul = n1*n2
# the multiply of 100 and 200 is 2000
print("the multiply of {} and {} is {}".format(n1,n2,mul))

the multiply of 100 and 200 is 20000

In [17]:
n1 = 100
n2 = 200
div = n1/n2
# the division of 100 and 200 is 0.5
print("the division of {} and {} is {}".format(n1,n2,div))

the division of 100 and 200 is 0.5

***f string Method***

In [18]:
a = 200
b = 300
c = a+b
# the addition of 200 and 300 is 500
print("the addition of", a, "and", b, "is", c)

print("the addition of {} and {} is {}".format(n1,n2,add))

print(f"the addition of {a} and {b} is {c}")

the addition of 200 and 300 is 500
the addition of 100 and 200 is 300
the addition of 200 and 300 is 500

In [20]:
print("hello")
print("good moring")
print("hai")
# hello good morning hai

hello
good moring
hai

- We have a situation wants to combine two print statement.

**end parameter**

In [23]:
print(20,end=" ")
print(30)

20 30

In [2]:
print(1, end=" ")
print(2, end=" ")
print(3)

1 2 3

In [25]:
print(20, "***" , 30)

20 *** 30

In [27]:
print(20,end=" *** ")
print(30)

20 *** 30

- We want to seperate the multipel variabels in one print statement

**sep_parameter**

In [30]:
print(20,30,sep=" .")

20 .30

- end operator used to combine multipel print statements
- sep operator used to seperate the multipel variables in a singel print statements.

In [33]:
print("the addition of 3+4 is", 3+4, ".")

the addition of 3+4 is 7 .

In [6]:
# We want ans like this :- the addition of 3+4 is 7.

#Que:- Use format 
print("the addition of {} is {}".format("3+4", "7."))

#Que:- Use f string method
print(f"the addition of 3+4 is {3+4}.")

#Que:- Use sep method
print(f"the addition of 3+4 is {3+4}",".",sep="")

the addition of 3+4 is 7.
the addition of 3+4 is 7.
the addition of 3+4 is 7.

In [7]:
print("the addition of {} is {}".format("3+4", "7."))

the addition of 3+4 is 7.

In [8]:
print(f"the addition of 3+4 is {3+4}.")

the addition of 3+4 is 7.

In [9]:
print(f"the addtion of 3+4 is {7}",".",sep="")

the addtion of 3+4 is 7.

** We Done in This Session**
- basic
- format
- f string
- end
- sep